body {
  font-family: Consolas, monospace;
  background-color: black;
  color: whitesmoke;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
  border-bottom: 1px dotted #333333;
}

.page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page-1 h1 {
  letter-spacing: 1em;
}

.page-1 h1 span {
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.page-1 h1 span:first-letter {
  background-color: whitesmoke;
  color: black;
  padding: 0 .5em;
  letter-spacing: normal;
  margin-right: .5em;
}

main .page {
  padding: 2em;
}

main .page-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .page h2 {
  text-align: center;
}

main .page-2 a {
  line-height: 2em;
}

main .page-2 .top-list p:hover {
  background-color: #333333;
}

main .page-3 .form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .page-3 .form-search input[type="text"] {
  box-sizing: border-box;
  padding-left: 1em;
  height: 3em;
  width: 60%;
  border: none;
  outline: none;
  box-shadow: 0 0 10px whitesmoke;
}

main .page-3 .form-search button {
  box-sizing: border-box;
  border: none;
  padding: 0 5em;
  height: 3em;
  outline: none;
  box-shadow: 0 0 10px whitesmoke;
  background-color: darkgrey;
}

main .page-3 .form-search button:active {
  box-shadow: inset 0 0 5px black;
}

main .page-4 {
  padding: 2em 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .page-4 #yohoho {
  flex: 1 1 auto;
  box-shadow: 0 0 20px whitesmoke;
}

.separate-page {
  main {
    box-sizing: border-box;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
}


header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;

  .logo-link {
    margin-right: 1em;
    font-size: 2.5em;
    outline: none;
    text-decoration: none;
    border: none;

    span {
      background-color: whitesmoke;
      color: black;
      margin: 0 2px;
      padding: 0 .3em;
      font-family: monospace;

    }
  }

  .page-title {
    flex: 1 1 auto;
    text-align: center;

    span {
      white-space: nowrap;
    }
  }
}

footer {
  border-top: 2px solid whitesmoke;
  margin: 1em 5vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 700px) {
  main {
    .page-2 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .top-list {
        width: 80%;
      }
    }

    .page-3 {
      .form-search {
        flex-direction: column;
        align-items: center;

        input[type="text"] {
          width: 80%;
          text-align: center;
        }

        button {
          width: 80%;
          margin: 2em 0;
        }
      }
    }
  }
}
