<!doctype html>
<html lang="{{ .Language }}">
<head>
    {{- partial "_head.html" . -}}

    {{ $title := printf "%s" .Site.Title }}
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}"/>
    <meta name="twitter:title" content="{{ $title }}"/>
    <meta itemprop="name" content="{{ $title }}"/>
    <meta name="application-name" content="{{ $title }}"/>
    <meta property="og:site_name" content="{{ $title }}"/>

    {{ $desc := .Site.Params.description }}
    <meta name="description" content="{{ $desc }}"/>
    <meta itemprop="description" content="{{ $desc }}"/>
    <meta property="og:description" content="{{ $desc }}"/>
    <meta name="twitter:description" content="{{ $desc }}"/>

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/taxomy.scss" | resources.ExecuteAsTemplate "taxomy.scss" . | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <script src="/js/script.js"></script>
</head>
<body class="taxomy">
<header>
    <a href="{{ .Site.BaseURL }}" class="logo-link"><span>A</span><span>M</span><span>S</span></a>
    <h1 class="page-title">{{ $title }}</h1>
</header>


<main class="content">
{{ $tax := (lower .Title) }}
{{ if eq $tax "category" }}
<div class="category-cloud">
{{ range $layout := slice "movie" "series" "course" }}
<section class="category-block {{ $layout }}">
{{ range $name, $taxonomy := (where (index $.Site.Taxonomies $tax) "Layout" $layout) }}
    {{ with $.Site.GetPage (printf "/%s/%s" $tax $name) }}
        {{ with (index $taxonomy 0) }}
        {{ if ne .Params.hidden true }}
        <a href="{{ .Permalink }}" class="category-link">{{ .Title }}</a>
        {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
</section>
{{ end }}
</div>
{{ end }}

{{ if eq $tax "tags" }}
    <div class="tags-cloud">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a href="{{ .Permalink }}" class="tag-link">{{ .LinkTitle }}</a>
    {{ end }}
    {{ end }}
    </div>
{{ end }}

{{ if and (ne $tax "tags") (ne $tax "category") }}
<div class="block404">
    404 | Not Found
</div>
{{ end }}
</main>

{{- partial "_footer.html" . -}}
</body>
</html>
