<!doctype html>
<html lang="{{ .Language }}">
<head itemscope itemtype="{{ .Site.BaseURL }}">
    {{- partial "_head.html" . -}}

    {{ $title := .Site.Title | default "Advanced Media Storage" }}
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}"/>
    <meta name="twitter:title" content="{{ $title }}"/>
    <meta itemprop="name" content="{{ $title }}"/>
    <meta name="application-name" content="{{ $title }}"/>
    <meta property="og:site_name" content="{{ $title }}"/>

    {{ $desc := .Site.Params.description }}
    <meta name="description" content="{{ $desc }}"/>
    <meta itemprop="description" content="{{ $desc }}"/>
    <meta property="og:description" content="{{ $desc }}"/>
    <meta name="twitter:description" content="{{ $desc }}"/>


    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <script src="{{ `js/yo.js` | absURL }}"></script>
    <script>
            window.smoothScrollTo = (function () {
              var timer, start, factor;

              return function (target, duration) {
                var offset = window.pageYOffset,
                    delta  = target - window.pageYOffset; // Y-offset difference
                duration = duration || 1000;              // default 1 sec animation
                start = Date.now();                       // get start time
                factor = 0;

                if( timer ) {
                  clearInterval(timer); // stop any running animations
                }

                function step() {
                  var y;
                  factor = (Date.now() - start) / duration; // get interpolation factor
                  if( factor >= 1 ) {
                    clearInterval(timer); // stop animation
                    factor = 1;           // clip to max 1.0
                  }
                  y = factor * delta + offset;
                  window.scrollBy(0, y - window.pageYOffset);
                }

                timer = setInterval(step, 10);
                return timer;
              };
            }());

        document.addEventListener('DOMContentLoaded', function () {
            let playerSection = document.querySelector('.page-4');
            let search = document.querySelector('#search');
            let title = document.querySelector('#search-title');

            // ули в урле есть часть после #
            if (window.location.hash) {
                let hash = window.location.hash.substring(1);
                if (title && hash) {
                    playerSection.setAttribute('id', hash);
                    smoothScrollTo(playerSection.offsetTop);
                    title.value = decodeURIComponent(hash);
                    parse();
                }
            }

            // если нажата кнопка "Искать"
            if (search) {
                search.addEventListener('click', function () {
                    return parse();
                });
            }

            // если отжата Enter в поле ввода
            if (title) {
                title.addEventListener('keyup', function (event) {
                    event.preventDefault();
                    if (event.code === 'Enter') {
                        return parse();
                    }
                });
            }

            function parse() {
                let playerBlock = document.querySelector('#yohoho');
                if (title && title.value && playerBlock) {
                    // есть ли в строке поиска kinopoisk.ru
                    if (/kinopoisk\.ru/i.test(title.value)) {
                        // ищет в строке поиска слова film или movie + цифры (видимо, kinopoiskID)
                        let exec = /(film\/|movie\/).*?([0-9]{3,7})\//gi.exec(title.value);
                        if (exec && exec[2]) {
                            playerBlock.dataset.kinopoisk = exec[2];
                            window.location.hash = '#' + playerBlock.dataset.kinopoisk;
                            document.title = 'КиноПоиск: ' + playerBlock.dataset.kinopoisk;
                        }
                    }
                    // если в строке поиска цифры
                    else if (/^\d+$/.test(title.value)) {
                        playerBlock.dataset.kinopoisk = title.value;
                        window.location.hash = '#' + playerBlock.dataset.kinopoisk;
                        document.title = 'КиноПоиск: ' + playerBlock.dataset.kinopoisk;
                    } else {
                        playerBlock.dataset.title = encodeURIComponent(title.value);
                        window.location.hash = '#' + playerBlock.dataset.title;
                        document.title = title.value;
                    }
                    items = [];
                    return yo();
                }
            }
        })
    </script>
</head>
<body>
<header class="page page-1">
    <h1><span>Advanced</span> <span>Media</span> <span>Storage</span></h1>
</header>
<main>
    <section class="page page-3">
        <h2>Поиск</h2>
        <form class="form-search" id="search-form">
            <input type="text" placeholder="Кинопоиск ID или название" id="search-title">
            <button type="submit" id="search">Искать</button>
        </form>
    </section>
    <section class="page page-4">
        <div id="yohoho"
             data-resize="1"
             data-language="ru"
             data-country="RU"
             data-videocdn="{{ .Site.Params.videoCDN }}"
             data-collaps="{{ .Site.Params.collapsOrg }}"
             data-ustore="{{ .Site.Params.uStore }}"
             data-kodik="{{ .Site.Params.kodik }}"
             data-hdvb=""
             data-bazon=""
             data-alloha=""
             data-youtube=""
        ></div>
        <!--
        data-fast="1"
        data-separator=","
        data-trailer="youtube,collaps"
        data-player="videocdn,collaps,kodik,ustore,bazon,alloha,pleer,videospider,iframe,hdvb,trailer,torrent"
        data-tv="1"
        data-loading=""
        -->
    </section>
    <section class="page page-2">
        {{ with .Site.Data.top }}
            {{ $tops := . }}
            {{ if gt (len $tops) 0 }}
                {{ range $tops }}
                <article class="top-list">
                    <h2>{{ .title }}</h2>
                    {{ range $idx, $item := .top}}
                    <p>{{ $idx }}. <a href="{{ $item.url | absURL }}" target="_blank" rel="nofollow">{{ $item.title }}</a></p>
                    {{ end }}
                </article>
                {{ end }}
            {{ end }}
        {{ end }}
    </section>
</main>
{{- partial "_footer.html" . -}}
</body>
</html>
