{{ with .Get 0 }}
{{ $apiUrl := printf "https://api%d.apicollaps.cc/embed-domain?token=%s" now.Unix $.Site.Params.collapsOrg }}
{{ $apiRqDomain := getJSON $apiUrl }}
{{ $domain := index $apiRqDomain "domain" }}
{{ $uri := . }}
{{ with $domain }}
<iframe class="player-frame player-hide"
        data-balancer="Collapse"
        src="{{ printf "%s%s" $domain $uri }}?episodesOpen=false"
        width="{{ $.Get "width" | default "640" }}"
        height="{{ $.Get "height" | default "480" }}"
        allow="autoplay *"
        allowfullscreen=""
        webkitallowfullscreen=""
        mozallowfullscreen=""
        oallowfullscreen=""
        msallowfullscreen=""
></iframe>
{{ end }}
{{ end }}
